@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	font-family: montserrat;
}




/* Debut css navbar */

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #000000;
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}

	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0, 0, 0, .8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}

	nav .links a {
		font-size: 20px;
	}

	nav :checked~.links {
		bottom: 0;
	}

	nav .icon-burger {
		display: block;
	}

	nav :checked~.icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}

	nav :checked~.icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}

	nav :checked~.icon-burger .line:nth-child(2) {
		opacity: 0;
	}

}


/* fin navbar */

.header-new>p:nth-child(1)>img:nth-child(1) {
	width: 100%;
}


/* debut banniere */
.banner {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}

.container {
	position: relative;
	margin-top: 100px;
}

.container img {
	display: block;
	width: 100%;
}

/* fin banniere */





body {
	background-color: #000000
}




/* PREMIERE PARTIE PAGE ACCUEIL */
.section-1 {
	margin: 2rem 0;
}

.section-1 .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
	align-items: center;
	justify-content: center;
	color: #d8d8d8;
}

.section-1 h1 {
	font-size: 4rem;


}

.section-1 p {
	margin: 1rem 0;
}

.container>div:nth-child(1)>p:nth-child(2) {
	font-size: 23px;
}

.btn {
	width: 160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	color: #000000;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);

}

.btn:hover {
	color: #ffffff;
	background-color: #000000;
	transition: all ease 0.3s;
}

/* FIN PRMEIERE PARTIE */




/* DEUXIEME PARTIE */
/* Grid css inspiré du td de début d'année pour faire un collage */

.section-2 .gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.section-2 .gallery a:first-child {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-row: 1/3;
	grid-column: 1/3;
}

.section-2 .gallery a:nth-child(2) {
	grid-column-start: 3;
	grid-column-end: 5;
}

.section-2 .gallery img,
.section-2 .gallery a {
	width: 100%;
	height: 100%;
}

/* fin */

/* FIN DEUXIEME PARTIE */




/* Début footer */

.footer {
	width: 100%;
	position: absolute;
	height: auto;
	background-color: #121213;


}

.footer .col {
	width: 190px;
	height: auto;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 20px 20px 20px;
}

.footer .col h1 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 20px;
	line-height: 17px;
	padding: 20px 0px 5px 0px;
	color: rgb(255, 255, 255);
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.250em;
}

.footer .col ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer .col ul li {
	color: #999999;
	font-size: 14px;
	font-family: inherit;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
}

.social ul li {
	display: inline-block;
	padding-right: 5px;

}

.footer .col ul li:hover {
	color: #ffffff;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
}

.test {
	clear: both;
}

@media only screen and (min-width: 1280px) {
	.contain {
		width: 1200px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1139px) {
	.contain .social {
		width: 1000px;
		display: block;
	}

	.social h1 {
		margin: 0px;
	}
}

@media only screen and (max-width: 950px) {
	.footer .col {
		width: 33%;
	}

	.footer .col h1 {
		font-size: 14px;
	}

	.footer .col ul li {
		font-size: 13px;
	}
}

@media only screen and (max-width: 500px) {
	.footer .col {
		width: 50%;
	}

	.footer .col h1 {
		font-size: 14px;
	}

	.footer .col ul li {
		font-size: 13px;
	}
}

@media only screen and (max-width: 340px) {
	.footer .col {
		width: 100%;
	}
}

.footer {
	display: inline;

}

/* fin footer */